.color-block {
  position: relative;
  width: 250px;
  height: 150px;
  border-radius: 5px;
  background-color: cornflowerblue;
  margin-bottom: 20px;
}

.hue-picker {
  position: relative;
  width: 250px;
  height: 14px;
  border-radius: 7px;
  background-color: cornflowerblue;
}

.hand {
  position: absolute;
  cursor: hand;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 10px;
  background: black;
}
