.saturation-brightness-picker {
  position: relative;
  width: 250px;
  height: 150px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 20px;
}

.saturation-gradient {
  background: linear-gradient(to left, rgba(255, 255 ,255, 0), #fff);
  position: absolute;
  width: 250px;
  height: 150px;
  border-radius: 5px;
}

.brightness-gradient {
  background: linear-gradient(to bottom, transparent, #000);
  position: absolute;
  width: 250px;
  height: 150px;
  border-radius: 5px;
}

.hue-picker {
  position: relative;
  width: 250px;
  height: 14px;
  border-radius: 7px;
  background-color: white;
}

.hand {
  position: absolute;
  cursor: hand;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 10px;
  background: black;
}
