$saturation-brightness-width: 250px;
$saturation-brightness-height: 150px;
$saturation-brightness-border-radius: 5px;

$hue-width: 250px;
$hue-height: 14px;
$hue-border-radius: 7px;

$color-white: #fff;
$color-black: #000;
$color-red: rgb(255, 0, 0);
$color-yellow: rgb(255, 255, 0);
$color-green: rgb(0, 255, 0);
$color-cyan: rgb(0, 255, 255);
$color-blue: rgb(0, 0, 255);
$color-magenta: rgb(255, 0, 255);

.saturation-brightness-picker {
  position: relative;
  width: $saturation-brightness-width;
  height: $saturation-brightness-height;
  border-radius: $saturation-brightness-border-radius;
  background-color: white;
  margin-bottom: 20px;
}

.saturation-gradient {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), $color-white);
  position: absolute;
  width: $saturation-brightness-width;
  height: $saturation-brightness-height;
  border-radius: $saturation-brightness-border-radius;
}

.brightness-gradient {
  background: linear-gradient(to bottom, transparent, $color-black);
  position: absolute;
  width: $saturation-brightness-width;
  height: $saturation-brightness-height;
  border-radius: $saturation-brightness-border-radius;
}

.hue-picker {
  position: relative;
  width: $hue-width;
  height: $hue-height;
  border-radius: $hue-border-radius;
  background: linear-gradient(
    to right, $color-red, $color-yellow, $color-green,
    $color-cyan, $color-blue, $color-magenta, $color-red
  );
}

.hand {
  position: absolute;
  cursor: hand;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 10px;
  background: black;
}
