$saturation-brightness-picker-width: 250px;
$saturation-brightness-picker-height: 150px;
$saturation-brightness-border-radius: 5px;

$hue-picker-width: 250px;
$hue-picker-height: 14px;
$hue-border-radius: 7px;

$color-white: #fff;
$color-black: #000;
$color-red: rgb(255, 0, 0);
$color-yellow: rgb(255, 255, 0);
$color-green: rgb(0, 255, 0);
$color-cyan: rgb(0, 255, 255);
$color-blue: rgb(0, 0, 255);
$color-magenta: rgb(255, 0, 255);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rgb-display {
  text-align: center;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  color: $color-black;
}

.picker-container {
  border-radius: 5px;
  background: $color-white;
  border: 1px solid rgba(0, 0, 0, 0.11);
  padding: 10px 10px 20px 10px;
}

.saturation-brightness-picker {
  position: relative;
  width: $saturation-brightness-picker-width;
  height: $saturation-brightness-picker-height;
  border-radius: $saturation-brightness-border-radius;
  background-color: white;
  margin-bottom: 20px;
}

.saturation-gradient {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), $color-white);
  position: absolute;
  width: $saturation-brightness-picker-width;
  height: $saturation-brightness-picker-height;
  border-radius: $saturation-brightness-border-radius;
}

.brightness-gradient {
  background: linear-gradient(to bottom, transparent, $color-black);
  position: absolute;
  width: $saturation-brightness-picker-width;
  height: $saturation-brightness-picker-height;
  border-radius: $saturation-brightness-border-radius;
}

.hue-picker {
  position: relative;
  width: $hue-picker-width;
  height: $hue-picker-height;
  border-radius: $hue-border-radius;
  background: linear-gradient(
    to right, $color-red, $color-yellow, $color-green,
    $color-cyan, $color-blue, $color-magenta, $color-red
  );
}

.hand {
  position: absolute;
  cursor: hand;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 10px;
  background: $color-white;
  box-shadow: rgba(84,82,87,0.15) 0 0 0 1px, rgba(84,82,87,0.2) 0 2px 5px;
}
